@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer base {
  h1 {
    @apply text-2xl font-bold sm:text-2xl md:text-3xl lg:text-4xl;
  }
  h2 {
    @apply text-2xl font-bold sm:text-xl md:text-2xl lg:text-3xl;
  }
  h3 {
    @apply text-xl font-bold sm:text-lg md:text-xl lg:text-2xl;
  }
  h4 {
    @apply text-lg font-bold sm:text-base md:text-lg lg:text-xl;
  }
  h5 {
    @apply text-base font-bold sm:text-sm md:text-base lg:text-lg;
  }
  h6 {
    @apply text-sm font-bold sm:text-xs md:text-sm lg:text-base;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.dateHoursInfo.sm {
  height: 66px;
}

.dateHoursInfo.md {
  height: 78px;
}

.onComing {
  background: linear-gradient(90deg, #11009e 0%, #c424fc 100%);
}

.live {
  background: linear-gradient(90deg, #d21d1d 50%, #fc24a6 100%);
}

.typo-large {
  font-family: "Lexend", sans-serif;
  font-size: 20px;
}

.typo-small {
  font-family: "Lexend", sans-serif;
  font-size: 13px;
}
